.base-0                    { color: #181a1a; }
.base-1                    { color: #282b2b; }
.base-2                    { color: #343838; }
.base-3                    { color: #404545; }
.base-4                    { color: #778080; }
.base-5                    { color: #9aa6a6; }
.highlight-1               { color: #005f6b; }
.highlight-2               { color: #008c9e; }
.highlight-3               { color: #39cfe4; }

.base-0-fill                { fill: #181a1a; }
.base-1-fill                { fill: #282b2b; }
.base-2-fill                { fill: #343838; }
.base-3-fill                { fill: #404545; }
.base-4-fill                { fill: #778080; }
.base-5-fill                { fill: #9aa6a6; }
.highlight-1-fill           { fill: #005f6b; }
.highlight-2-fill           { fill: #008c9e; }
.highlight-3-fill           { fill: #39cfe4; }

.base-0-bg      { background-color: #181a1a; }
.base-1-bg      { background-color: #282b2b; }
.base-2-bg      { background-color: #343838; }
.base-3-bg      { background-color: #404545; }
.base-4-bg      { background-color: #778080; }
.base-5-bg      { background-color: #9aa6a6; }
.highlight-1-bg { background-color: #005f6b; }
.highlight-2-bg { background-color: #008c9e; }
.highlight-3-bg { background-color: #39cfe4; }