html, body {
    height: 100%;
}

@mixin size($width, $height) {
    height: $height;
    width: $width;
}

body {
    min-width: 522px;
}

.left-panel {
    border-right: 1px solid black;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    @include size(96px, 100%);
    margin-left: -100%;
    right: 96px;

    li {
        cursor: pointer;
        line-height: 64px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;

        &.item {
            font-size: 0px;

            img {
                vertical-align: middle;
            }

            &:hover {
                background-color: rgba(0, 0, 128, 0.3);
            }

            @include size(100%, 64px);
        }

        &.category {

        }
    }

    .settings {
        background: transparent url("images/settings.png") no-repeat 16px 16px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        @include size(64px, 64px);

        &:hover {
            background-color: lightgray;
        }
    }

    &:after {
        content: ' ';
        clear: both;
        display: block;

        @include size(0px, 0px);
    }
}

img.drag-helper {
    cursor: pointer;
}

.middle-panel {
    overflow: hidden;
    @include size(100%, 100%);

    canvas {
        background-color: #888;
    }
}

.right-panel {
    border-left: 1px solid #000;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: -100%;
    @include size(330px, 100%);

    .layers-list li {
        cursor: pointer;
        &.active {
            color: red;
            font-weight: bold;
        }
    }
}

.content-wrapper {
    padding-left: 96px;
    padding-right: 330px;
    height: 100%;

    .column {
        position: relative;
        float: left;
    }
}

.contextMenuPositioner {
    position: absolute;

    @include size(1px, 1px);
}
