@import '../bower_components/bootstrap/dist/css/bootstrap.min.css';
@import 'fonts/archivo/fontface.css';
@import 'buttons.scss';
@import 'colours.scss';

.fill-w {
    min-width: 100%;
    width: 100%;
}
.fill-h {
    min-height: 100%;
    height: 100%;
}

@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@media(min-width: 0px) {
    div[class^="col"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

body {
    @extend .fill-w;
    @extend .fill-h;
    min-width: 522px;
    @extend .base-0-bg;
    position: absolute;
}

.material {
    box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.22);
}

.container-fluid {
    @extend .fill-h;
    padding: 0px;
    font-family: archivo_narrow;
}

.container-row {
    @extend .fill-h;
    @extend .fill-w;
    margin: 0px;
    padding: 0px;
}

.btn {
    font-size: large;
    font-weight: bold;
}

.title-bar {
    @extend .material;
    @extend .base-3-bg;
    @extend .highlight-3;
    z-index: 100;
    position: fixed;
    min-height: 32px;
    min-width: 100px;
    width: inherit;
    padding: 10px;
    overflow: hidden;

    font-weight: bold;
    font-size: large;
}

.panel {
    @extend .material;
    @extend .base-2-bg;
    @extend .highlight-2;
    @extend .fill-w;
    position: absolute;
    top: 59px;
    bottom: 0px;
    overflow-x: hidden;
}

.panel-container {
    @extend .fill-h;
    margin: 0px;
    padding: 0px;
}

.left-container {
    @extend .panel-container;
}

.left-panel {
    @extend .panel;
    li {
        cursor: pointer;

        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        &.item {
            @extend .material;
            font-size: 0px;
            min-height: 64px;
            min-width: 64px;
            img {
                vertical-align: middle;
            }

            &:hover {
                @extend .base-5-bg;
                transform: scale(1.02);
            }
            &:active {
                @extend .highlight-3-bg;
                transform: scale(1.15);
            }
        }

        &.category {
            ul {
                line-height: 64px;
            }
            ul li {
                list-style: none;
                display: inline-block;
                @extend .base-4-bg;
                /*margin: 0px 2px 0px 2px;*/
                margin: 4px;
                padding: 2px;
            }
        }
    }

    .settings {
        background: transparent url("images/settings.png") no-repeat 16px 16px;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        @include size(64px, 64px);

        &:hover {
            @extend .base-5-bg;
        }
    }

    &:after {
        content: ' ';
        clear: both;
        display: block;

        @include size(0px, 0px);
    }
}

img.drag-helper {
    cursor: pointer;
}

.middle-panel {
    @extend .material;

    @extend .fill-h;
    overflow: auto;

    .canvas-wrapper {
        @extend .base-1-bg;
        @extend .material;
    }
}

.right-container {
    @extend .panel-container;
    padding-right: 0px;
}

.right-panel {
    @extend .panel;
    padding-left: 10px;

    .layers-list {
        margin: 10px 0px 10px 0px;
    }
}

.tile-layer-glyf {
    position: relative;
    bottom: 5px;
    
    max-width:  30px;
    max-height: 30px;
    width:  30px;
    height: 30px;
    svg {
        max-width:  30px;
        max-height: 30px;
        width:  30px;
        height: 30px;
    }
}
.tile-layer-btn {
    & svg:hover {
            @extend .highlight-2-fill;
            stroke: black;
    }
    & svg:active {
            @extend .highlight-3-fill;
            transform: scale(1.1);
    }
}
.tile-layer-btn-delete {
    @extend .tile-layer-btn;
    float: right;
}
.tile-layer-btn-move-down,
.tile-layer-btn-move-up {
    @extend .tile-layer-btn;
    float: left;
}
.tile-layer {
    @extend .base-4-bg;
    @extend .base-0;
    @extend .material;
    cursor: pointer;
    margin: 5px 0px 5px 25px;
    padding: 10px 5px 10px 10px;

    &.active {
        /*color: red;*/
        font-weight: bold;
        @extend .highlight-3-bg;
        transform: scaleY(1.1);
        margin: 7px;
        margin-left: 10px;
        margin-right: 0px;
        & .tile-layer-btn {
        }
    }
    label {
        margin-left: 0.25em;
    }
    &:first-child label,
    &:last-child label {
        margin-left: 1em;
    }
    &:first-child.active {
        margin-top: 12px;
    }
    &:last-child.active {
        margin-bottom: 12px;
    }
    &:hover {
        @extend .base-5-bg;
    }
    &.delete {
        float: right;
    }
    input {
        float: right;
    }
}

.content-wrapper {
    padding-left: 96px;
    padding-right: 330px;
    height: 100%;
    .column {
        position: relative;
        float: left;
    }
}

.contextMenuPositioner {
    position: absolute;

    @include size(1px, 1px);
}

.dialog {
    display: none;

    &.set-map-size-dialog {
        input {
            width: 60px;
        }

        .error {
            display: none;
            color: red;
        }

        .loading {
            display: none;
        }
    }
}
